*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
  margin: 0 auto;
}
img {
  display: block;
  margin: 0;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
section{
  padding: 120px 0;
}

/*Header*/

.page-header {
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
  display: flex;
}

.header__container {
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.nav-logo .logo-span {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list__list-item .link {
  position: relative;
  color: #404bbf;
}


.nav-list__list-item .link:hover::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-list__list-item .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__list-item .link:hover,
.nav-list__list-item .link:focus {
  color: #404bbf;
}

.contact {
  font-style: normal;
  display: flex;
  margin-left: auto;
}

.contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.contact .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.contact .link:hover,
.contact .link:focus {
  color: #404bbf;
}

/*Effective solution For Your Business*/ 

.first-section {
  background-color: #2e2f42;
  font-family: "Roboto";
  text-align: center;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  translate: transform;
}

.first-section .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1158px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  flex-direction: column;
  box-sizing: border-box;
}

.first-section .first-section-title {
  font-weight: 700;
  line-height: 1.07;
  font-size: 56px;
  color: #ffffff;
  text-align: center;
  max-width: 496px;
  letter-spacing: 0.02em;

}

.main-class .first-section-button {
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5;
  font-size: 16px;
  background-color: #4d5ae5;
  color: #ffffff;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  border: none;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  border: none;
  height: 56px;
  font-family: "Roboto";
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first-section-button:hover,
.first-section-button:focus {
  background-color: #404bbf;
}

/* Second Section*/

section .info-section {
  padding: 120px 0;
  margin: 0 auto;
  width: 1440px;
}
.info-section .container{
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}
.section-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 24px;
 
}
.section-list-item{
  width: calc((100% - 72px) / 4);
  flex-basis: calc((100% - 72px) / 4);
  box-sizing: border-box;
}

.icon-box{
  border: 1px solid #8E8F99;
  background-color: #F4F4FD;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  box-sizing: border-box;
  margin-bottom: 8px;
  
}

.icon {
  position: relative;
  top: 24px;
  left: 100px;
}
.icon:hover{
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-title {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #2e2f42;
  margin-bottom: 8px;
}

.info-text {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #434455;
}

/*Our Team*/


.third-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.third-section__title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.third-section__list {
  display: flex;
  gap: 24px;
}

.third-section__list>.list-item {
  width: calc((100% - 72px) / 4);
  flex-basis: calc((100% - 72px) / 4);
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.third-section .social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 16px;
}

.third-section .social-list .list-item {
  width: 40px;
  height: 40px;
}



.third-section .social-list .list-item .social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.third-section .social-list .list-item .social-link:hover,
.third-section .social-list .list-item .social-link:focus {
  --color1: #404bbf;
}


.list-item__container {
  padding: 32px 0;
}

.third-section__list .member-name {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.third-section__list .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/*Our Portfolio*/

.forth-section__title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
}

.forth-section__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.forth-section__list .list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.forth-section__list .list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.forth-section__list .list-item .img-container {
  width: 360px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.forth-section__list .list-item .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.forth-section__list .list-item .img-container .img-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.forth-section__list .list-item:hover .img-container .img-text {
  transform: translateY(0);
}

.forth-section_list-item-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.forth-section .list-item__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.list-item .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*Footer*/

.footer {
  background-color: #2e2f42;
  padding: 100px 0;

}

.footer .text {
  color: #F4F4FD;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .logo-span {
  color: #f4f4fd;
}

.footer .text {
  max-width: 264px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .subcontainer {
  margin-right: 120px;
}

.footer .social-container .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;  
}

.footer .social-container .social-list{
  display: flex;
  gap: 16px;
}

.footer .social-container .social-list .list-item {
  width: 40px;
  height: 40px;
}
.footer .social-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-icon:hover, 
.footer .social-icon:focus {
  --color1: #31D0AA;
}

/*subscribe form*/

.subscribe-container {
  display: inline-block;
  margin-left: 700px;
  position: absolute;
  width: 453px;
  height: 80px;
}

.subscribe-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: white;
  display: block;
}

.subscribe-form {
  width: 453px;
  height: 80px;
  position: relative;
}

.email-footer {
  width: 264px;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 4%;
  color: white;
  background-color: transparent;
  border: 1px, solid, white;
  border-radius: 4px;
  padding-left: 12px;
  position: relative;
  top: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-footer::placeholder {
  color: white;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 4%;
  width: 36px;
  height: 24px;
}

.subscribe-btn {
  width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  cursor: pointer;
  color: white;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  padding-right: 50px;
  position: relative;
  top: 20px;
  left: 10px;
  font-family: Roboto;
}

.icon-send {
  margin-left: 16px;
  position: absolute;
  width: 24px;
  height: 24px;
}

/*Modal form CSS Styles*/

.form-container {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 1;
}

.form-container-page {
  width: 408px;
  height: 584px;
  border: none;
  border-radius: 4px;
  background-color: #fcfcfc;
  position: absolute;
  top: 20%;
  left: 38%;
  padding-top: 10px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.icon-close {
  fill: #e7e9fc;
  border: 1px, solid, #0000001a;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  left: 360px;
  top: 10px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, var(--color2), var(--color3);
}

.icon-close:hover {
  fill: #404bbf;
  --color2: #404bbf;
  --color3: white;
}

.form-title {
  width: 360px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #2e2f42;
  text-align: center;
  position: relative;
  top: 35px;
}

.menu-form {
  width: 360px;
  height: 336px;
  margin: 0 auto;
}

.form-person-name {
  width: 360px;
  height: 58px;
  position: relative;
  top: 55px;
}

.form-person-phone {
  width: 360px;
  height: 58px;
  position: relative;
  top: 65px;
}

.form-person-email {
  width: 360px;
  height: 58px;
  position: relative;
  top: 75px;
}

.form-comment {
  width: 360px;
  height: 138px;
  position: relative;
  top: 55px;
}

.menu-window {
  width: 360px;
  height: 336px;
}

.label-person {
  height: 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
  color: #8e8f99;
  display: block;
  text-align: left;
  position: relative;
  bottom: 5px;
}

.label-person::placeholder{
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
  color: #2e2f4266;
  position: relative;
}

.label-comment {
  height: 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
  color: #8e8f99;
  display: block;
  text-align: left;
  position: relative;
  top: 25px;
}

.person-class {
  width: 360px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  border: 1px, solid, rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  padding-left: 32px;
  transition-duration: border-color 250mscubic-bezier(0.4, 0, 0.2, 1);
}

.person-class:focus {
  border-color: #4d5ae5;
}

.class-comment {
  width: 360px;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
  color: #75757580;
  border: 1px, solid, rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  position: relative;
  top: 30px;
  padding: 10px;
  transition-duration: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.class-comment:focus {
  border-color: #4d5ae5;
}

.class-comment::placeholder {
  width: 57px;
  height: 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
  color: #2e2f4266;
  position: relative;
}

.form-checkbox {
  position: relative;
  top: 40px;
}

.menu-checkbox {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 2px;
  top: 30px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px, solid #2e2f4266;
  border-radius: 2px;
  cursor: pointer;
  transition-duration: backgroun-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-checkbox:checked {
  background-color: #404bbf;
}

.click-icon {
  position: relative;
  right: 15px;
  bottom: 1px;
  cursor: pointer;
}

.checkbox-text {
  width: 338px;
  height: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
  color: #757575;
  position: absolute;
  top: 32px;
  left: 20px;
}

.form-blue-text {
  color: #4d5ae5;
  text-decoration: underline;
}

.send-button {
  width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  position: relative;
  top: 105px;
  left: 100px;
  box-shadow: 0px 4px 4px 0px #00000026;
}

.form-icons {
  fill: #2e2f42;
  position: absolute;
  left: 10px;
  top: 22px;
  transition-duration: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.person-class:focus+.form-icons {
  fill: #4d5ae5;
}